<!doctype html>

<html ng-app="lapTimerWeb">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timer App</title>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/app.css">

</head>

<body ng-controller="MainController">
    
    <div class="container-fluid resultTable" ng-view>

                <table  width=100%>

                    <tr>
                        <td>Id</td>
                        <td>Driver </td>
                        <td>Laps </td>
                         <td>Last </td>
                        <td>Best</td>
                        <td>Average </td>
                    </tr>
                    
                    <tr ng-repeat="car in cars">
                        <td> {{ car.id }} </td>
                        <td><b> {{ car.name }} </b></td>
                        <td><b> {{ car.lapcount }} </b></td>
                        <td> {{ car.last }} </td>
                        <td> {{ car.fastest }} </td>
                        <td> {{ car.avg }} </td>
                    </tr>
                
                </table>

    </div>
    
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
            <div class="container" ng-if="admin">
                <button type="button" class="btn btn-default navbar-btn btn-success">Race</button>
                <button type="button" class="btn btn-default navbar-btn btn-danger" ng-click="resetApp()">Reset</button>
                <button type="button" class="btn btn-default navbar-btn btn-warning">Cars</button>
                <button type="button" class="btn btn-default navbar-btn btn-warning">Config</button>
                <button type="button" class="btn btn-default navbar-btn btn-warning">About</button>
            </div>
            <div class="container" ng-if="!admin">
                <button type="button" class="btn btn-default navbar-btn">About</button>
            </div>
    </nav>

    <script src="components/angular/angular.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>

</body>
</html>
